*{ 
    margin: 1%; padding: 0.1%; box-sizing: border-box;
}
a{
    float: right;
}
h6{
    float:right; margin: auto 0rem 0rem 2rem;
}
body{
        background-image : url('depositphotos_40677643-stock-photo-i-love-my-family.jpg') ;  /*  Background Image Linki */  
        background-repeat: no-repeat; 
 ;}